$tablet-menu-width: 300px;

#mobile-menu {
  margin-bottom: $nav-height;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  text-align: right;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  z-index: 50;
  transition: 300ms ease-in-out;
  box-sizing: border-box;
  border-left: 1px solid $faint-blue;
  background-color: white;

  .menu-links .link {
    margin-bottom: 2rem;

    a {
      font-family: $title-font;
      color: $not-so-dark;
      font-size: 1.2rem;
    } 
  }

  .socials {
    justify-content: flex-end;

    a { color: $not-so-dark; }
  }

  &.active { right: 0; }

  @include mq(extra-small) {
    width: $tablet-menu-width;
    right: -$tablet-menu-width;
  }

  @include mq(small) {
    display: none;
  }
}