nav {
  max-width: $card-limit;
  margin: auto;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 60px;
    height: 60px;
  }

  .button {
    display: none;

    @include mq(extra-extra-small) {
      display: inline;
    }
  }
}
