.swiper-container {
  width: 100%;
  height: auto;
  padding: 12px;
  max-width: $card-limit / 2;
}

.testimonial {
  box-sizing: border-box;
  width: 99%;
  height: auto;
  overflow: hidden;
  padding: 3rem 2rem;
  margin: 4rem auto;
  text-align: left;
  @include card();

  .quote-details {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include mq(small) {
      flex-direction: row;
    }

    .avatar {
      $avatar-size: 100px;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: $avatar-size / 2;
      border: 4px solid $primary;
      margin-bottom: 1rem;

      @include mq(small) {
        margin-bottom: 0;
      }
    }

    .person-details {
      text-align: center;

      @include mq(small) {
        margin-left: 2rem;
        text-align: left;
      }
      h1 {
        margin-bottom: 0.4rem;
      }

      p {
        line-height: 1.2;
      }
    }
  }
}
