.button 
    padding: 0.7em 1.8em
    border: 3px solid $primary
    background-color: $primary
    color: white

.button-hollow
    background-color: unset
    color: $primary

.button-round
    border-radius: 60px