.companies
    @include margin-center
    display: flex
    align-items: center
    justify-content: space-around
    flex-flow: row wrap
    margin-top: 4rem
    max-width: $card-limit
    
    figure
        -ms-flex: 1 1 0%
        -webkit-flex: 1 1 25%
        // flex-basis: 25%
        padding: 1rem 2rem
        box-sizing: border-box
        overflow: hidden

        img
            max-width: 220px

        @media screen and (max-width: $break-tablet)
            -ms-flex: 1 1 40%
            -webkit-flex: 1 1 50%
            padding: 2rem 1.2rem 
        @media screen and (max-width: $break-mobile)
            -ms-flex: 1 1 100%
            -webkit-flex: 1 1 100%
