footer
    padding: 4rem 2rem
    text-align: center
    background-color: $dark
    color: rgba($light, 0.4)

    > *:not(:last-child)
        margin-bottom: 2rem

    img
        width: 40px
        height: 40px
    
    h5
        font-family: $title-font
        font-weight: bold
        font-size: 1.4em

    div
        max-width: 600px
        margin-left: auto
        margin-right: auto