.projects-grid
  width: 100%
  max-width: $projects-limit
  margin: 3rem auto 0

  .project-container
    @include border-light

    position: relative
    width: 100%
    max-width: 440px
    background-size: 135%
    background-position: 50% 50%
    margin: auto
    margin-bottom: 2rem
    border-radius: 8px
    height: 300px
    color: $light
    overflow: hidden
    text-align: left
    transition: 400ms ease-in-out

    figcaption
      position: absolute
      right: 0
      bottom: 0
      left: 0
      display: flex
      align-items: center
      justify-content: space-between
      padding: 1.2rem
      transform: translateY(100px)
      background-color: $dark
      transition: 400ms ease-in-out

      h4
        margin-bottom: 8px
        font-size: 1.1rem

      p
        font-size: 0.8rem
        opacity: 0.66
        line-height: unset

      span.links a
        font-size: 1.4rem
        color: $light
        opacity: 0.66
        transition: 400ms ease-in-out

        &:hover
          opacity: 1

    &:hover
      background-position: 50% 75%

      figcaption
        transform: translateY(0px)

@supports (display: grid)
  .projects-grid
    @include mq(small)
      display: grid
      grid:
        template-columns: auto auto
        template-rows: repeat(1fr, 1fr)
        gap: 2rem
      
      .project-container
        margin-bottom: 0px
    
    @include mq(medium)
      grid-template-columns: auto auto auto
