.socials
    display: flex
    flex-flow: row wrap
    justify-content: space-around

.social-icon
    width: 46px
    height: 46px
    border: 1px solid $light
    border-radius: 23px
    display: inline-flex
    align-items: center
    justify-content: center
    font-size: 1.18em
    transition: all 400ms ease-in-out

    span
        svg
            path
                transition: all 400ms ease-in-out
                fill: $light

.social-icon:hover
    background-color: $light 
    span
        svg
            path
                fill: $primary
