.testimonial
    @include is-narrow

    margin: 4rem auto 0

.single-testimonial
    @include margin-center
    @include card

    width: 720px
    padding: 4rem
    box-sizing: border-box

    @media screen and (max-width: $break-tablet)
        width: 100%

    @media screen and (max-width: $break-mobile) 
        width: 100%
        padding: 2rem

    img.avatar
        width: 100px
        height: 100px
        border-radius: 100px
        border: 4px solid $primary        

    p.quote 
        font-size: 1.2rem
        text-align: left
        line-height: 1.7rem

        @media screen and (max-width: $break-mobile)
            line-height: 1.5rem
            text-align: center

.quote-details-wrapper
    display: flex
    flex-flow: row nowrap
    align-items: center
    margin-bottom: 2rem

    .quote-icon
        margin-left: auto
        
        img
            width: 64px
            height: 64px
    
    .quote-details
        margin-left: 1rem
        text-align: left

    h1
        margin-bottom: 0

    @media screen and (max-width: $break-tablet) 
        .quote-icon
            display: none

    
    @media screen and (max-width: $break-mobile) 
        display: unset

        img.avatar
            margin-bottom: 2rem

        
        .quote-details
            margin-left: 0
            text-align: center
            padding-bottom: 2rem