// Colors
$primary: #662FE5
$light: #fff

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Nunito:400,700&display=swap')
$title-font: 'Nunito', sans-serif
$body-font: 'Nunito Sans', sans-serif

// Padding
$p1: 8px
$p2: 16px
$p3: 24px
$p4: 32px

// Width limit
$width-limit: 1200px

// Custom resets
body 
    font-family: $body-font

a
    text-decoration: none

// Styling
h1
    font-size: 2em
    padding-bottom: 0.6em
    font-family: $title-font
nav 
    padding: $p3
    display: flex
    align-items: center
    justify-content: space-between

    img
        width: 60px
        height: 60px

section
    padding: $p3
    text-align: center

section.hero 
    padding-bottom: 0

div.limit-width
    max-width: $width-limit
    margin: auto
    padding: 0 2em
    
img.hero-avatar
        margin-top: 3em
        margin-bottom: 3em
        width: 212px
        height: 212px

section.is-bright
    background-color: $primary
    color: $light

@import 'button'