// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Asap:700&display=swap')
$title-font: 'Asap', sans-serif
$body-font: 'Nunito Sans', sans-serif

// Responsiveness
$break-tablet: 820px
$break-mobile: 520px

// Colors
$primary: #1E90FF
$light: #ffffff
$faint-blue: #E6ECF8
$dark: #171B22

// Borders, shadows
$shadows: 0 5px 5px 0 rgba( $faint-blue, 0.5), 0 0 0 1px $faint-blue

// Page sizing
$width-limit: 820px 
$card-limit: 1024px
$projects-limit: $card-limit

$section-padding-y: 8rem
$section-padding-x: 2rem

// Mixins
@mixin section-padding
    padding: $section-padding-y $section-padding-x

@mixin border-light
    border: 1px solid $faint-blue
    box-shadow: $shadows
    box-sizing: border-box

// Custom resets
body 
    font-family: $body-font
    color: $dark

a
    text-decoration: none

// Styling
h1
    font-size: 3.2em
    padding-bottom: 0.6em
    font-family: $title-font
    @media screen and (max-width: $break-tablet)
        font-size: 2.6em
    @media screen and (max-width: $break-mobile)
        font-size: 2em
h2
    font-size: 2em
    font-family: $title-font
    padding-bottom: 1.2rem
    @media screen and (max-width: $break-tablet)
        font-size: 1.8em
    @media screen and (max-width: $break-mobile)
        font-size: 1.6em
h3
    font-family: $title-font
    font-size: 1.5em
    padding-bottom: 1.4em
h4
    font-size: 1.4em
    font-family: $title-font
    color: $primary
    font-weight: bold
p
    font-family: $body-font
    font-size: 1rem
    line-height: 2rem
    @media screen and (max-width: $break-tablet)
        font-size: 1rem

nav 
    padding: 24px
    display: flex
    align-items: center
    justify-content: space-between

    img
        width: 60px
        height: 60px

section
    @include section-padding
    text-align: center

section.hero 
    padding-bottom: 0

.is-bright
    background-color: $primary
    color: $light

section.has-an-overlap
    padding-bottom: 16rem

section.is-an-overlap
    margin-top: -8rem
    padding-top: 0

.bottom-line 
    border-bottom: 1px solid $faint-blue

.limit-width
    max-width: $width-limit
    margin: auto
    padding: 0 8em
    @media screen and (max-width: $break-tablet) 
        padding: 0 6em
    @media screen and (max-width: $break-mobile)
        padding: 0 3em
    
img.hero-avatar
        margin-top: 6em
        margin-bottom: 6em
        width: 212px
        height: 212px

img.hero-bottom
    vertical-align: bottom
    width: 60%
    margin-left: auto
    margin-right: auto
    margin-bottom: -.1rem

    @media screen and (max-width: $break-tablet)
        width: 75%
    @media screen and (max-width: $break-mobile)
        width: 90%

.inline-link
    color: $primary

footer
    padding: 4rem 2rem
    text-align: center
    background-color: $dark
    color: rgba($light, 0.4)

    > *:not(:last-child)
        margin-bottom: 2rem

    img
        width: 40px
        height: 40px
    
    h5
        font-family: $title-font
        font-weight: bold
        font-size: 1.4em

    div
        max-width: 600px
        margin-left: auto
        margin-right: auto


@import 'button'
@import 'card'
@import 'projectsgrid'
@import 'companies'
@import 'socials'

.color-white
    color: $light
.color-primary
    color: $primary