// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Nunito:400,700&display=swap')
$title-font: 'Nunito', sans-serif
$body-font: 'Nunito Sans', sans-serif

// Colors
$primary: #662FE5
$light: #fff
$faint-blue: #B7BBBC

// Responsiveness
$break-tablet: 1200px
$break-mobile: 600px

$width-limit: 820px 
$card-limit: 1200px

// Custom resets
body 
    font-family: $body-font

a
    text-decoration: none

// Styling
h1
    font-size: 3.2em
    padding-bottom: 0.6em
    font-family: $title-font
    @media screen and (max-width: $break-tablet)
        font-size: 2.6em
    @media screen and (max-width: $break-mobile)
        font-size: 2em
h2
    font-size: 2em
    font-family: $title-font
    padding-bottom: 1.4em
    @media screen and (max-width: $break-tablet)
        font-size: 1.8em
    @media screen and (max-width: $break-mobile)
        font-size: 1.6em
h3
    font-family: $title-font
    font-size: 1.8em
    padding-bottom: 1.4em
h4
    font-size: 1.4em
    font-family: $title-font
    color: $primary
    font-weight: bold
p, ul, li
    font-family: $body-font
    font-size: 1.2rem
    line-height: 2rem
    @media screen and (max-width: $break-tablet)
        font-size: 1rem

nav 
    padding: 24px
    display: flex
    align-items: center
    justify-content: space-between

    img
        width: 60px
        height: 60px

section
    padding: 8rem 2rem
    text-align: center

section.hero 
    padding-bottom: 0

.limit-width
    max-width: $width-limit
    margin: auto
    padding: 0 8em
    @media screen and (max-width: $break-tablet) 
        padding: 0 6em
    @media screen and (max-width: $break-mobile)
        padding: 0 3em
    
img.hero-avatar
        margin-top: 3em
        margin-bottom: 3em
        width: 212px
        height: 212px

section.is-bright
    background-color: $primary
    color: $light

@import 'button'
@import 'card'