footer {
  padding: 4rem 2rem;
  text-align: center;
  background-color: $dark;
  color: #fff;
  color: shade(#fff, 40%);
}

.footer__header {
  margin-bottom: 0;
}

.footer__socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer__socialLink {
  padding: 0.4em;
  margin: 0.2em;
  line-height: 1;
}
