.section--hero {
  padding-bottom: 0;
}

.hero__avatar {
  $avatar-size: 160px;

  display: block;
  width: $avatar-size;
  height: $avatar-size;
  margin: 4rem auto;

  @include mq(small) {
    margin: 6rem auto;
    width: $avatar-size * 1.5;
    height: $avatar-size * 1.5;
  }
}

.hero__illustration {
  display: block;
  width: 90%;
  max-width: 640px;
  margin: 0 auto -1px;
  vertical-align: bottom;

  @include mq(small) {
    width: 75%;
  }
}
