nav {
  padding: 1em;
  display: flex;
  align-items: center;
  color: $light;
}

#themeSwitcher {
  margin-left: auto;
  margin-right: 1.6rem;
  border: none;
  background: none;
  cursor: pointer;
  
  path {
    fill: var(--text-color);
    transition: fill-opacity 300ms ease-in-out, fill 600ms ease-in-out;
  }

  &:focus {
    outline: none;
  }

  &:hover path {
    fill-opacity: 1;
  }
}
