.splide__track {
  width: 100%;
  height: auto;
  padding: 12px;
  overflow: hidden;
  position: relative;
  cursor: grab;
}

.splide__track::before,
.splide__track::after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4%;
  z-index: 5;

  @include mq(small) {
    content: "";
  }
}

.splide__track::before {
  left: 0;
  background-image: linear-gradient(to right, white, transparent);
}

.splide__track::after {
  right: 0;
  background-image: linear-gradient(to left, white, transparent);
}

.splide__slide {
  transform: scale(0.95);
  opacity: 0.2;
  transition: all 400ms ease-in-out;
}

.splide__slide.is-active {
  transform: scale(1);
  opacity: 1;
}

.splide__pagination__page {
  $size: 12px;
  
  margin: 6px;
  height: $size;
  width: $size;
  border: none;
  border-radius: $size / 2;
  background: $faint-blue;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.splide__pagination__page.is-active {
  background-color: $primary;
}

.testimonial {
  @include card;

  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 3rem 2rem;
  margin: 4rem auto;
  text-align: left;
}

.testimonial__header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include mq(small) {
    flex-direction: row;
  }
}

.testimonial__image {
  $avatar-size: 100px;

  width: $avatar-size;
  height: $avatar-size;
  border-radius: $avatar-size / 2;
  margin-bottom: 1rem;

  @include mq(small) {
    margin-bottom: 0;
  }
}

.testimonial__author {
  text-align: center;
  line-height: 1.2;

  @include mq(small) {
    margin-left: 2rem;
    text-align: left;
  }
}

.testimonial__authorName {
  margin-bottom: 0.2em;
  font-size: 1.4em;
}

.testimonial__authorCompany {
  color: $not-so-dark;
}
