@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Nunito:400,700&display=swap");
body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  padding-bottom: 0.6em;
  font-family: "Nunito", sans-serif;
}
@media screen and (max-width: 820px) {
  h1 {
    font-size: 2.6em;
  }
}
@media screen and (max-width: 520px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  padding-bottom: 1.2rem;
}
@media screen and (max-width: 820px) {
  h2 {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 520px) {
  h2 {
    font-size: 1.6em;
  }
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  padding-bottom: 1.4em;
}

h4 {
  font-size: 1.4em;
  font-family: "Nunito", sans-serif;
  color: #662FE5;
  font-weight: bold;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}
@media screen and (max-width: 820px) {
  p {
    font-size: 1rem;
  }
}

nav {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  width: 60px;
  height: 60px;
}

section {
  padding: 8rem 2rem;
  text-align: center;
}

section.hero {
  padding-bottom: 0;
}

.is-bright {
  background-color: #662FE5;
  color: #ffffff;
}

section.has-an-overlap {
  padding-bottom: 16rem;
}

section.is-an-overlap {
  margin-top: -8rem;
  padding-top: 0;
}

.bottom-line {
  border-bottom: 1px solid #E6ECF8;
}

.limit-width {
  max-width: 820px;
  margin: auto;
  padding: 0 8em;
}
@media screen and (max-width: 820px) {
  .limit-width {
    padding: 0 6em;
  }
}
@media screen and (max-width: 520px) {
  .limit-width {
    padding: 0 3em;
  }
}

img.hero-avatar {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 212px;
  height: 212px;
}

img.hero-bottom {
  vertical-align: bottom;
}

.inline-link {
  color: #662FE5;
}

footer {
  padding: 4rem 2rem;
  text-align: center;
}
footer > *:not(:last-child) {
  margin-bottom: 2rem;
}
footer img {
  width: 40px;
  height: 40px;
}
footer h5 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.4em;
}
footer div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
footer h5, footer p {
  opacity: 0.5;
}

.button {
  padding: 0.7em 1.8em;
  border: 3px solid #662FE5;
  background-color: #662FE5;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}

.button-hollow {
  background-color: unset;
  color: #ffffff;
}

.button-round {
  border-radius: 60px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #662FE5;
}

.button-hollow:hover {
  background-color: #662FE5;
  color: #ffffff;
}

.button.color-primary:hover {
  color: #ffffff;
}

.card {
  max-width: 1024px;
  margin: auto;
  border-radius: 8px;
  border: 1px solid #E6ECF8;
  display: flex;
  align-items: stretch;
  background-color: #ffffff;
  box-shadow: 0 5px 5px 0 rgba(230, 236, 248, 0.5), 0 0 0 1px #E6ECF8;
}
.card .column:last-of-type {
  border: none;
}
@media screen and (max-width: 820px) {
  .card {
    display: block;
  }
}

.column {
  width: 33.33%;
  padding: 2em;
  box-sizing: border-box;
  border-right: 1px solid #E6ECF8;
}
.column > * {
  margin-bottom: 1rem;
  padding-bottom: 0;
}
.column > p {
  margin-bottom: 3rem;
}
.column > *:first-child {
  margin-top: 3rem;
}
.column li {
  line-height: 2.6rem;
}
.column img {
  width: 55px;
  height: 55px;
  margin-bottom: 3rem;
}
@media screen and (max-width: 820px) {
  .column {
    padding: 1.5em;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #E6ECF8;
  }
}
@media screen and (max-width: 520px) {
  .column {
    padding: 1em;
  }
}

.projects-grid {
  width: 100%;
  max-width: 1024px;
  margin: 3rem auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projects-grid figure {
  height: 240px;
  margin: 1%;
  flex-basis: 31%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.projects-grid figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 400ms ease-in-out;
}
.projects-grid figure figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #312F39;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  transition: all 400ms ease-in-out;
}
.projects-grid figure figcaption h4, .projects-grid figure figcaption p {
  margin-bottom: 0.4rem;
  color: #ffffff;
}
.projects-grid figure figcaption div {
  margin-top: 2rem;
}
.projects-grid figure figcaption div a:not(:last-child) {
  margin-right: 1rem;
}
.projects-grid :hover figcaption {
  opacity: 1;
  visibility: visible;
}
.projects-grid :hover img {
  transform: scale(1.1);
}
@media screen and (max-width: 820px) {
  .projects-grid figure {
    flex-basis: 46%;
    margin: 2%;
  }
}
@media screen and (max-width: 520px) {
  .projects-grid figure {
    flex-basis: 96%;
    height: 280px;
  }
}

.companies {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 4rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.companies figure {
  flex-basis: 25%;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
}
.companies figure img {
  max-width: 200px;
}
@media screen and (max-width: 820px) {
  .companies figure {
    flex-basis: 50%;
    padding: 2rem 1.2rem;
  }
}

.socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.social-icon {
  width: 46px;
  height: 46px;
  margin: 0 1rem;
  border: 1px solid #ffffff;
  border-radius: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.18em;
  transition: all 400ms ease-in-out;
}
@media screen and (max-width: 820px) {
  .social-icon {
    margin: 0 0.75rem;
  }
}
@media screen and (max-width: 520px) {
  .social-icon {
    margin: 0 0.25rem;
  }
}
.social-icon span svg path {
  transition: all 400ms ease-in-out;
  fill: #ffffff;
}

.social-icon:hover {
  background-color: #ffffff;
}
.social-icon:hover span svg path {
  fill: #662FE5;
}

.color-white {
  color: #ffffff;
}

.color-primary {
  color: #662FE5;
}

/*# sourceMappingURL=style.css.map */
