@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Asap:700&display=swap");
body {
  font-family: "Nunito Sans", sans-serif;
  color: #171B22;
  text-align: center;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Asap", sans-serif;
}

nav {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  width: 60px;
  height: 60px;
}

footer {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #171B22;
  color: rgba(255, 255, 255, 0.4);
}
footer > *:not(:last-child) {
  margin-bottom: 2rem;
}
footer img {
  width: 40px;
  height: 40px;
}
footer h5 {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  font-size: 1.4em;
}
footer div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 0.7em 1.8em;
  border: 3px solid #1E90FF;
  background-color: #1E90FF;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}

.button-hollow {
  background-color: unset;
  color: #ffffff;
}

.button-round {
  border-radius: 60px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #1E90FF;
}

.button-hollow:hover {
  background-color: #1E90FF;
  color: #ffffff;
}

.button.color-primary:hover {
  color: #ffffff;
}

.card {
  max-width: 1024px;
  margin: auto;
  border-radius: 8px;
  border: 1px solid #E6ECF8;
  display: flex;
  align-items: stretch;
  background-color: #ffffff;
  box-shadow: 0 5px 5px 0 rgba(230, 236, 248, 0.5), 0 0 0 1px #E6ECF8;
}
.card .column:last-of-type {
  border: none;
}
@media screen and (max-width: 820px) {
  .card {
    display: block;
  }
}

.column {
  width: 33.33%;
  padding: 2em;
  box-sizing: border-box;
  border-right: 1px solid #E6ECF8;
}
.column > * {
  margin-bottom: 1rem;
  padding-bottom: 0;
}
.column > p {
  margin-bottom: 3rem;
}
.column > *:first-child {
  margin-top: 3rem;
}
.column li {
  line-height: 2.6rem;
}
.column img {
  width: 55px;
  height: 55px;
  margin-bottom: 3rem;
}
@media screen and (max-width: 820px) {
  .column {
    padding: 1.5em;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #E6ECF8;
  }
}
@media screen and (max-width: 520px) {
  .column {
    padding: 1em;
  }
}

.projects-grid {
  width: 100%;
  max-width: 1024px;
  margin: 3rem auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projects-grid div.wrapper {
  border: 1px solid #E6ECF8;
  box-shadow: 0 5px 5px 0 rgba(230, 236, 248, 0.5), 0 0 0 1px #E6ECF8;
  box-sizing: border-box;
  flex-basis: 31.33%;
  margin: 1%;
  background-color: #171B22;
  border-radius: 8px;
  overflow: hidden;
}
.projects-grid div.wrapper figure {
  width: 100%;
  position: relative;
  padding-top: 75%;
}
.projects-grid div.wrapper figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 400ms ease-in-out;
}
.projects-grid div.wrapper figure figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  background: #171B22;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  transition: all 400ms ease-in-out;
}
.projects-grid div.wrapper figure figcaption p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  color: #ffffff;
  line-height: 1rem;
}
@media screen and (max-width: 820px) {
  .projects-grid div.wrapper figure figcaption {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .projects-grid div.wrapper figure figcaption p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 520px) {
  .projects-grid div.wrapper figure figcaption {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.projects-grid div.wrapper :hover figcaption {
  opacity: 1;
  visibility: visible;
}
.projects-grid div.wrapper :hover img {
  transform: scale(1.1);
}
@media screen and (max-width: 820px) {
  .projects-grid div.wrapper {
    flex-basis: 46%;
    margin: 2%;
  }
  .projects-grid div.wrapper figcaption div {
    flex-basis: unset;
  }
}
@media screen and (max-width: 520px) {
  .projects-grid div.wrapper {
    flex-basis: 96%;
  }
}

.companies {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 4rem;
  max-width: 1024px;
}
.companies figure {
  -ms-flex: 1 1 0%;
  -webkit-flex: 1 1 25%;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  overflow: hidden;
}
.companies figure img {
  max-width: 200px;
}
@media screen and (max-width: 820px) {
  .companies figure {
    -ms-flex: 1 1 40%;
    -webkit-flex: 1 1 50%;
    padding: 2rem 1.2rem;
  }
}

.socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.social-icon {
  width: 46px;
  height: 46px;
  margin: 0 1rem;
  border: 1px solid #ffffff;
  border-radius: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.18em;
  transition: all 400ms ease-in-out;
}
@media screen and (max-width: 820px) {
  .social-icon {
    margin: 0 0.75rem;
  }
}
@media screen and (max-width: 520px) {
  .social-icon {
    margin: 0 0.25rem;
  }
}
.social-icon span svg path {
  transition: all 400ms ease-in-out;
  fill: #ffffff;
}

.social-icon:hover {
  background-color: #ffffff;
}
.social-icon:hover span svg path {
  fill: #171B22;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}
@media screen and (max-width: 520px) {
  h1 {
    font-size: 1.6rem;
  }
}
h1.main-title {
  font-size: 2.8rem;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  font-size: 1.4rem;
}
@media screen and (max-width: 520px) {
  h2 {
    font-size: 1rem;
  }
}

h3 {
  font-size: 1.2rem;
  color: #1E90FF;
}
@media screen and (max-width: 520px) {
  h3 {
    font-size: 1rem;
  }
}

p {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  font-size: 1rem;
}
@media screen and (max-width: 820px) {
  p {
    font-size: 0.8rem;
  }
}

p.subtitle {
  line-height: 2rem;
  font-size: 1.4rem;
}
@media screen and (max-width: 820px) {
  p.subtitle {
    line-height: 1.6rem;
    font-size: 1.2rem;
  }
}

section {
  padding: 8rem 2rem;
}

section.hero {
  padding-bottom: 0;
}

section.is-bright {
  background-color: #1E90FF;
  color: #ffffff;
}

section.has-an-overlap {
  padding-bottom: 16rem;
}

section.is-an-overlap {
  margin-top: -8rem;
  padding-top: 0;
}

section.no-bottom-padding {
  padding-bottom: 0;
}

.hero-avatar {
  margin-top: 6em;
  margin-bottom: 6em;
  width: 212px;
  height: 212px;
}

.hero-bottom {
  vertical-align: bottom;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -0.1rem;
}
@media screen and (max-width: 820px) {
  .hero-bottom {
    width: 75%;
  }
}
@media screen and (max-width: 520px) {
  .hero-bottom {
    width: 90%;
  }
}

.bottom-line {
  border-bottom: 1px solid #E6ECF8;
}

.color-white {
  color: #ffffff;
}

.color-primary {
  color: #1E90FF;
}

/*# sourceMappingURL=style.css.map */
